
User ID: {{$._id}}
{{$secure:= "yes"}}
{{ $protocol:= "http"}}
{{if eq $secure "yes"}}{{ $protocol = "https" }}{{else}}{{ $protocol = "http" }}{{end}}
{{- $port:= emptyString "" "8090" -}}
{{$profileURL := printf "%s://%s:%s/user/%s" ($protocol) ("localhost") ($port) ($._id)}}
Profile URL: {{$profileURL}}
Full name: {{$.name}}
Gender: {{$.gender}}
Favorite Fruit: {{$.favoriteFruit}}
Tags: {{ range $v := $.tags }} {{ $v }}, {{ end }}
Friends -
{{ range $_, $v := $.friends }}
    * {{ $v.name }}
{{ end }}
Location: {{$.latitude}}, {{$.longitude}}

{{ $ageCategory:= getAgeCategory $.age }}
Age: {{$.age }} {{ $ageCategory }}

About {{$.name }}:
{{ $.about }}
Contact information:
    Email: {{ $.email }}
    Phone: {{ $.phone }}
    Address: {{ $.address }}

{{ range $_, $v := $.moredata }}
    {{ if isInt $v }}
        val is int .. {{ $v }}
    {{ end }}

	{{- if isMap $v -}}
      {{- range $k, $v := $v -}}
        key={{ $k }}, val={{ $v }}
      {{- end -}}
	{{- end -}}

	{{- if isSlice $v -}}
      {{ range $_, $s := $v -}}
        {{ $s }}
      {{- end }}
	{{- end -}}
{{ end }}